<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="fragment/globalComponent::commonHead(~{::title},~{::style},~{::link})">
    <title>GoblinCwl - 博客</title>
    <link rel="stylesheet" th:href="@{/plugins/editormd/css/editormd.preview.css}">
    <style>
        #tabsRow .badge {
            margin-right: 0.2rem;
        }

        #blogTime {
            color: #8d8c8c;
            padding: 0.2rem 0 0.1rem 0.1rem;
        }
    </style>
</head>
<body>
<!-- 左侧侧边栏 -->
<div th:replace="fragment/blogComponent::leftSiderBar"></div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <!-- 顶部导航 -->
        <div th:replace="fragment/globalComponent::topHeader"></div>

        <div class="container" style="margin-top: 2em;margin-left: 2em;width: 100%;padding-right: 4em">
            <div class="header">
                <div class="row">
                    <h1 style="font-weight: bold" id="contentTitle"></h1>
                    <h5 id="blogTime"></h5>
                </div>
                <div id="tabsRow" class="row">
                </div>
            </div>
            <br>
            <div class="footer">
                <div id="view-editormd"></div>
            </div>
        </div>

    </div>
</div>
<div th:replace="fragment/globalComponent::commonFoot(~{::script})">
    <script type="text/javascript" th:src="@{/plugins/editormd/lib/marked.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/editormd/lib/prettify.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/editormd/lib/raphael.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/editormd/lib/underscore.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/editormd/lib/sequence-diagram.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/editormd/lib/flowchart.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/editormd/lib/jquery.flowchart.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/editormd/editormd.min.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        let editorMdView;

        $(function () {
            ajaxHttp({
                type: "GET",
                url: ctx + "/blog/" + $.getUrlParam("id"),
                success: function (res) {
                    let content = '';
                    if (res.data != null) {
                        const data = res.data;

                        //网页标签标题
                        $("title").html(data.title);
                        //文章标题
                        $("#contentTitle").text(data.title)
                        //文章时间
                        $("#blogTime").text('发布: ' + data.releaseTime + '\t更新: ' + data.updateTime)
                        //文章标签
                        if (data.blogTabsList != null) {
                            var tabsHtml = '';
                            for (let j = 0; j < data.blogTabsList.length; j++) {
                                const tabs = data.blogTabsList[j];
                                tabsHtml += '' +
                                    '<span class="badge" style="background-color: ' + tabs.color + '">' + tabs.name + '</span>';
                            }
                            $("#tabsRow").html(tabsHtml);
                        }

                        //文章内容
                        if (data.content == null) {
                            data.content = '';
                        }
                        content = data.content;
                    }
                    editorMdView = editormd.markdownToHTML("view-editormd", {
                        markdown: content,
                        htmlDecode: "style,script,iframe", // you can filter tags decode
                        tocm: true, // Using [TOCM]
                        emoji: true,
                        taskList: true,
                        tex: true, // 默认不解析
                        flowChart: true, // 默认不解析
                        sequenceDiagram: true, // 默认不解析
                    })
                },
            });
        });
    </script>
</div>
</body>
</html>