@font-face {
    font-family: 'MyHack';
    src: url('../../fonts/hack/Hack-Regular.ttf');
}

#sideNav {
    border-bottom: 0;
}

#sideNav > li > a {
    font-size: 5px;
    border-radius: 0;
    padding: 5px 5px;
    border: 0;
    color: white;
}

#sideNav > li.active > a {
    color: #6ecadc;
    pointer-events: none;
}

#sideNav > li.active :hover {
    background-color: white;
}

#sideNav > li :hover {
    background-color: #6ebddc;
}


#sideNav > li + li {
    margin-top: 0;
}

#sideNav > li > a > i.glyphicon:before {
    margin-right: 2px;
    font-size: 5px;
    color: white;
}

#sideNav > li.active > a > i.glyphicon:before {
    color: #6ecadc;
}

/*去除按钮点下后的边框*/
.btn:focus, .btn:active:focus,
.btn.active:focus, .btn.focus,
.btn:active.focus, .btn.active.focus,
.dropdown-toggle:focus {
    outline: none !important;
    border-color: transparent;
    box-shadow: none !important;
}

input:focus {
    outline: none;
    border-color: #31b0d5;
    box-shadow: 0 0 0 #269abc;
}

input.required, textarea.required {
    border-color: #c59090 ;
}
.no-border-radio{
    border-radius: 0;
}