.my-table {
    border-collapse: unset;
}

.toolbarBtn {
    border-radius: 0;
}

/*按钮上的图标颜色*/
.toolbarBtn i:before {
    color: white;
    margin-right: 0;
}

/*页码颜色*/
.page-item:not(.active) a {
    color: #5bc0de;
}

.page-item.active a {
    background-color: #5bc0de;
    border-color: #46b8da;
}

.page-item.active a:hover {
    background-color: #31b0d5;
    border-color: #269abc;
    cursor: pointer;
}

.page-list span ul li.active a {
    color: white;
    background-color: #31b0d5;
}

/*复选框*/
.bootstrap-table .fixed-table-container .table .bs-checkbox label input[type="checkbox"] {
    margin: -6px 0 0 0 !important;
}

.checkbox-custom {
    position: relative;
    padding: 0 0 0 20px;
    /*margin-bottom: 7px;*/
    margin-top: 0;
    display: inline-block;
}

/*将初始的checkbox的样式改变*/
.checkbox-custom input[type="checkbox"] {
    opacity: 0; /*将初始的checkbox隐藏起来*/
    position: absolute;
    cursor: pointer;
    z-index: 2;
    margin: -6px 0 0 0;
    top: 50%;
    left: 3px;
}

/*设计新的checkbox，位置*/
.checkbox-custom label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
    width: 19px;
    height: 18px;
    display: inline-block;
    border: 1px solid #bbb;
    background: #fff;
}

/*点击初始的checkbox，将新的checkbox关联起来*/
.checkbox-custom input[type="checkbox"]:checked + label:after {
    position: absolute;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    content: "\e013";
    top: 42%;
    left: 3px;
    margin-top: -5px;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #333;
}

.checkbox-custom label {
    cursor: pointer;
    line-height: 1.2;
    font-weight: normal; /*改变了rememberme的字体*/
    margin-bottom: 0;
    text-align: left;
}

/*表单*/
.form-group {
    margin-bottom: 0;
}

.table-search .form-group input {
    /*margin-bottom: 1em;*/
}

.table-search-select {
    height: 30px;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 0;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.bootstrap-select .dropdown-toggle:focus {
    border-color: #66afe9;
    outline: 0 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6) !important;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color: #6ECADC;
}

.table-search .form-group label {
    display: none;
}

/*表格字体以及间距*/
.bootstrap-table {
    font-size: small;
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
    padding: 0.3em;
}


/*模态框*/
.xtip-input {
    padding-bottom: 0.5em;
}

.xtip-input input {
    padding-bottom: 0.5em;
    width: 100%;
}

/*去掉遮罩*/
.loading-wrap {
    display: none;
}

.fixed-table-loading {
    background: 0 !important;
    border: 0;
}

/*操作列*/
.table-options {
    cursor: pointer;
}

.table-options i:before {
    font-size: 5px;
    margin-right: 0;
}

.table-options i.glyphicon-remove:before {
    color: #d9534f;
}

.table-options i.glyphicon-pencil:before {
    color: #5bc0de;
}

.table-options i.glyphicon-download:before {
    color: #337ab7;
}

/*移动端去边框*/
@media screen and (max-width: 767px) {
    .table-responsive {
        border: 0;
    }
}

/*条件输入框*/
.table-search {
    margin-top: 0.5em;
}

.table-search input {
    border-radius: 0;
}

.table-search select {
    border-radius: 0;
}

/*弹出框输入框*/
.table-modal-input {
    border-radius: 0;
}

/*换表导航*/
#navList > li > a {
    font-size: 5px;
    border-radius: 0;
    padding: 5px 5px;
    color: #b3b3b3;
}

/*页码*/
.pagination li a {
    border-radius: 0 !important;
}

/*表头蓝线边框*/
.my-table thead {
    border: 1px solid #46b8da;
}

/*弹出框按钮*/
.xactive button {
    border-radius: 0;
}

/*选择框*/
.dropdown-menu li a {
    font-size: 12px;
}

/*按钮禁用*/
.button-disabled {
    pointer-events: none;
}

/*switch*/
td div.bootstrap-switch-small {
    border-radius: 0;
}

td div.bootstrap-switch-small div.bootstrap-switch-container {
    border-radius: 0;
}

td div.bootstrap-switch-small div.bootstrap-switch-container span {
    border-radius: 0 !important;
}