.width-5_5 {
    width: 5.5%;
}

.width-7 {
    width: 7%;
}

.width-31 {
    width: 31%;
}

.width-31_5 {
    width: 31.5%;
}

.width-36_6_ {
    width: 36.66666667%;
}

.width-100 {
    width: 100%;
}