<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="fragment/globalComponent::commonHead(~{::title},~{::link},~{::style})">
    <title id="appTitle">GoblinCwl - Jrebel激活</title>
    <link th:href="@{/css/manager.css}" rel="stylesheet"/>
    <style>
        #outDiv {
            margin-top: 2em;
            border: 2px solid #fff;
            height: 37em;
        }

        #appHtmlIFrame {
            height: 100%;
            width: 100%;
            border: none;
        }
    </style>
</head>
<body>
<!-- 左侧侧边栏 -->
<div th:replace="fragment/appComponent::leftSiderBar"></div>

<!-- 页面内容 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <!-- 顶部导航 -->
        <div th:replace="fragment/globalComponent::topHeader"></div>

        <!--获取APPId-->
        <input type="hidden" th:value="${id}" id="appId"/>
        <div class="container-fluid" style="overflow:hidden;">
            <div class="row">
                <div class="col-lg-11" style="margin-left: 0.5em">
                    <div id="outDiv">
                        <iframe id="appHtmlIFrame">
                            <!--动态HTML-->
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragment/globalComponent::commonFoot(~{::script})">
    <script>
        let appId;

        $(function () {
            appId = $("#appId").val();

            ajaxHttp({
                type: "GET",
                url: ctx + "/apps/query/" + appId,
                success: function (res) {
                    let data = res.data;
                    if (data != null && data.isLock === 0) {
                        let $appInUseLi = $("#appInUseLi");
                        $appInUseLi.css("display", "block")
                        $appInUseLi.addClass("active")

                        $("#outDiv").css("border-color", data.color)
                        $("#appInUseSpan").text(data.name);
                        $("#appTitle").text("GoblinCwl - " + data.name)

                        $("#appHtmlIFrame").attr("srcdoc", data.html)
                    } else {
                        window.location.replace("/404");
                    }
                },
            })


        })
    </script>
</div>
</html>