<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="fragment/globalComponent::commonHead(~{::title},~{},~{})">
    <title>GoblinCwl - 首页</title>
</head>
<body>
<!-- 左侧侧边栏 -->
<div th:replace="fragment/globalComponent::leftSiderBar"></div>

<!-- 页面内容 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <!-- 顶部导航 -->
        <div th:replace="fragment/globalComponent::topHeader"></div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="copywrite">
            <p style="text-align: center">
                © 2021 GoblinCwl All Rights Reserved
                <a href="https://beian.miit.gov.cn/" target="_blank">湘ICP备19013886号</a>
            </p>
        </div>
    </div>
</div>
</body>
<div th:replace="fragment/globalComponent::commonFoot(~{})"></div>
</html>