<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="fragment/globalComponent::commonHead(~{::title},~{::link},~{::style})">
    <title>GoblinCwl - 首页</title>
    <link rel="stylesheet" th:href="@{/css/vueType.css}">
    <style>
        .timeStampSHow {
            color: #929e98;
        }
    </style>
</head>
<body>
<!-- 左侧侧边栏 -->
<div th:replace="fragment/globalComponent::leftSiderBar"></div>


<!-- 页面内容 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <!-- 顶部导航 -->
        <div th:replace="fragment/globalComponent::topHeader"></div>


        <div class="console terminal-console">
            <div class="top">
                <span class="options">○ ○ ⦿</span>
                <span class="title">GoblinCwl - 终端</span>
            </div>
            <div class="tabs"></div>
            <div class="text">
                <span id="timeStampShow1" class="timeStampSHow"></span>
                上次访问: <span th:text="${lastAccessTime}" style="color: grey">2021-04-23 12:51:27</span>.<br>
                <span id="timeStampShow2" class="timeStampSHow"></span>
                本次访问: <span th:text="${accessTime}" style="color: dodgerblue"></span>.<br>
                <span id="timeStampShow3" class="timeStampSHow"></span>
                您是第<span th:text="${accessIpCount}"
                         style="color: orange;font-weight: bold"></span>个访问本站的地址，站点总计已被访问<span
                    th:text="${accessCount}" style="color: #3c763d;font-weight: bold"></span>次。<br>
                <span id="timeStampShow4" class="timeStampSHow"></span>
                同一地址超过半小时后再次访问才会进行次数记录。<br>
                <span id="timeStampShow5" class="timeStampSHow"></span>
                数据仅用于统计，不会对您造成不便。<br>
                <span id="timeStampShow6" class="timeStampSHow"></span>
                根据你的环境，我给你取了个名字：<span th:text="${nickName}" style="color: #38c0e2;font-weight: bold"></span>。<br>
                <span id="timeStampShow7" class="timeStampSHow"></span>
                认证中...<br>
                <span id="timeStampShow8" class="timeStampSHow"></span>
                <span th:text="${nickName}" style="color: #38c0e2;font-weight: bold"></span>，允许访问！<br>
                <span id="timeStampShow9" class="timeStampSHow"></span>
                欢迎来到GoblinCwl的个人网站！<br>
                <p>
                    <span style="color: #0bba0b;font-weight: bold">[GoblinCwl@localhost] # </span>
                    <span id="infoMessage"></span>
                </p>
            </div>
        </div>

        <div class="console chat-console">
            <div class="top">
                <span class="options">○ ○ ⦿</span>
                <span class="title">Public - 聊天室</span>
            </div>
            <div class="tabs"></div>
            <div class="text">
                [12:03:21] 聊天室还没写<br>
                [12:03:21] 聊天室还没写<br>
                [12:03:21] 聊天室还没写<br>
                [12:03:21] 聊天室还没写<br>
                [12:03:21] 聊天室还没写<br>
                [12:03:21] 聊天室还没写<br>
                <label for="chatInput">
                    [小明@localhost] #

                </label>
                <input id="chatInput" type="text" style="background-color:transparent;border:0;outline:none;width: 80%;" name="t2"
                       value=""/>
            </div>
        </div>
        <span style="color: white;-moz-user-select:none;-webkit-user-select:none;user-select:none;">1</span>
        <div class="copywrite">
            <p style="text-align: center">
                ©2021 GoblinCwl
                <a href="https://beian.miit.gov.cn/" target="_blank">湘ICP备19013886号</a>
            </p>
        </div>


    </div>
</div>

</body>
<div th:replace="fragment/globalComponent::commonFoot(~{::script})">
    <script th:src="@{/js/vueTypeJs/vue.min.js}"></script>
    <script th:src="@{/js/vueTypeJs/typed.min.js}"></script>
    <script th:src="@{/js/autoTyping/AutoTyping.min.js}"></script>
    <script>
        $(function () {
            $(".timeStampSHow").text("[" + new Date().Format("hh:mm:ss") + "]");
        });
        const infoMessage = new AutoTyping({

            id: 'infoMessage',

            typeText: [
                'Hello，欢迎关顾！',
                '这是我的个人网站。',
                '除简单的展示信息外，',
                '还有小功能，博客等。',
                '很高兴认识你！',
            ],

            deleteSpeed: 0,

        }).init();

        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
</div>
</html>