html .console {
    margin: 2rem;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.35);
}

.top {
    text-align: center;
    font-size: 16px;
    padding: 5px;
    background-color: #6ecadc;
    color: white;
    width: 50%;
    float: left;
    position: absolute;
    margin-left: 2rem;
    margin-top: 2rem;
}

.top .options {
    font-size: 16px;
    float: right;
}

@font-face {
    font-family: 'MyHack';
    src: url('../fonts/hack/Hack-Regular.ttf');
}

html .console .text {
    font-family: 'MyHack';
    color: #000000;
    font-size: 14px;
    padding: 0.25rem;
}

.terminal-console {
    width: 50%;
    float: left;
    height: 35em;
}

@media (max-width: 640px) {
    .terminal-console {
        width: 90%;
        margin: 1rem !important;
    }
    .top {
        width: 90%;
        margin-left: 1rem;
        margin-top: 1rem;
    }
}