<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="fragment/globalComponent::commonHead(~{::title},~{},~{})">
    <title th:text="${'GoblinCwl - ' + status}">GoblinCwl - 错误</title>
</head>
<body>
<!-- 左侧侧边栏 -->
<div th:replace="fragment/globalComponent::leftSiderBar"></div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <!-- 顶部导航 -->
        <div th:replace="fragment/globalComponent::topHeader"></div>

        <div class="company">
            <div class="company_details">
                <h2 th:text="${typeMessage}"></h2>
                <br>
                <div style="font-size: 0.9em">
                    <span th:text="${status + ' ' + error + ' ' + messageIcon}"></span><br>
                    <span th:text="${message}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragment/globalComponent::commonFoot(~{})"></div>
</body>
</html>