<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="fragment/globalComponent::commonHead(~{::title},~{::link},~{::style})">
    <title>GoblinCwl - 首页</title>
    <link rel="stylesheet" th:href="@{/css/vueType.css}">
    <style>
        .timeStampSHow {
            color: #929e98;
        }
    </style>
</head>
<body>
<!-- 左侧侧边栏 -->
<div th:replace="fragment/globalComponent::leftSiderBar"></div>


<!-- 页面内容 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <!-- 顶部导航 -->
        <div th:replace="fragment/globalComponent::topHeader"></div>


        <div class="top">
            <span class="options">○ ○ ⦿</span>
            <span class="title">GoblinCwl - 终端</span>
        </div>
        <div id="terminal-console" class="console terminal-console">
            <div id="terminalDiv" class="text">
                <br><br>
                <p id="consoleInput">
                    <label id="chatInputLabel" for="chatInput" style="color: #2bd92b">
                        [<span id="nickName">unAuth</span>@goblincwl.cn] #

                    </label>
                    <input id="chatInput" type="text"
                           style="background-color:transparent;border:0;outline:none;"
                           name="t2"
                           value=""/>
                </p>
            </div>
        </div>

        <!--版权，备案-->
        <span style="color: white;-moz-user-select:none;-webkit-user-select:none;user-select:none;">1</span>
        <div class="copywrite">
            <p style="text-align: center">
                © 2021 GoblinCwl
                <a href="https://beian.miit.gov.cn/" target="_blank">湘ICP备19013886号</a>
            </p>
        </div>


    </div>
</div>

</body>
<div th:replace="fragment/globalComponent::commonFoot(~{::script})">
    <script th:src="@{/js/vueTypeJs/vue.min.js}"></script>
    <script th:src="@{/js/vueTypeJs/typed.min.js}"></script>
    <script th:src="@{/js/autoTyping/AutoTyping.min.js}"></script>
    <script>
        $(function () {
            terminalDataInit();
        });

        const $consoleInput = $("#consoleInput");

        //终端信息初始化
        function terminalDataInit() {
            $.ajax({
                type: "GET",
                url: ctx + "/findTerminalData",
                beforeSend: function (request) {
                    request.setRequestHeader("GoblinCwlRequestType", "api");
                    insertMessage("<span style='color: #c0a16b'>数据请求中...</span>", 0);
                },
                error: function () {
                    insertMessage("数据请求失败，有空的话麻烦联系下站长处理~", 50);
                },
                success: function (res) {
                    if (res != null && res.code === 200) {
                        const data = res.data;
                        insertMessage("您是第<span style='color: orange;font-weight: bold'>" + data.accessIpCount + "</span>个访问本站的地址，站点总计已被访问<span style='color: #3c763d;font-weight: bold'>" + data.accessCount + "</span>次。", 50);
                        insertMessage("同一地址超过半小时后再次访问才会进行次数记录。", 100);
                        insertMessage("认证中...", 200);
                        insertMessage("上次访问: <span style='color: grey'>" + data.lastAccessTime + "</span>.", 800);
                        insertMessage("本次访问: <span style='color: dodgerblue'>" + data.accessTime + "</span>.", 800);
                        if (res.data.lastAccessTime === '首次访问') {
                            insertMessage("根据你的环境，我给你取了个名字：<span style='color: #38c0e2;font-weight: bold'>" + data.nickName + "</span>。", 850);
                        } else {
                            insertMessage("<span style='color: #38c0e2;font-weight: bold'>" + data.nickName + "</span>，允许访问！", 850);
                        }
                        setTimeout(function () {
                            $("#nickName").text(data.nickName)
                        }, 900);
                        insertMessage("<span style='color: #E74C3C;font-weight: bold'>欢迎来到GoblinCwl的个人网站！</span>", 950);

                        setTimeout(function () {
                            websocketInit()
                        }, 1000)
                    } else {
                        insertMessage(res.msg, 50);
                        insertMessage("数据请求失败，有空的话麻烦联系下站长处理~", 100);
                    }
                },
                complete: function () {
                }
            });
        }

        //websocket初始化
        function websocketInit() {
            var socketUrl;
            if (url.indexOf("https") !== -1) {
                socketUrl = url.replace('https', 'wss') + '/websocket';
            } else {
                socketUrl = url.replace('http', 'ws') + '/websocket';
            }
            const webSocket = new WebSocket(socketUrl);
            webSocket.onerror = function (event) {
                insertMessage("<span style='color: red'>连接发生异常，信息如下：</span>");
                insertMessage("<span style='color: red'>" + event.data + "</span>");
                insertMessage("<span style='color: red'>尝试刷新或联系站长处理！</span>");
            };
            //与WebSocket建立连接
            webSocket.onopen = function (event) {
                insertMessage("<span style='color: #c0a16b'>正在连接到聊天室...</span>");
            };
            //处理服务器返回的信息
            webSocket.onmessage = function (event) {
                let nowMessage = event.data;
                if (nowMessage.indexOf("{") === 0) {
                    const msgJson = JSON.parse(nowMessage);
                    const time = "<span style='color: #929e98'>[" + msgJson.sendTime + "]</span>";
                    let contentColor = msgJson.color;
                    if (contentColor == null) {
                        contentColor = randomColor();
                    }
                    const message = "<span style='color: " + contentColor + "'>" + msgJson.content + "</span>";
                    $consoleInput.before(time + " " + message + "<br>");
                } else {
                    insertMessage(nowMessage);
                }
                $('#terminal-console').scrollTop($('#terminal-console')[0].scrollHeight);
            };

            function sendMessage(message) {
                //向服务器发送消息
                webSocket.send(message);
            }

            const $chatInput = $("#chatInput");

            //动态设置输入框的宽度
            $chatInput.width(($("#terminalDiv").width() - $("#chatInputLabel").width()) * 0.9)

            //监听终端点击
            $("#terminal-console").click(function () {
                $chatInput.focus();
            });

            //监听回车
            var time = 0;
            $chatInput.keydown(function (event) {
                //判断计时器是否处于关闭状态

                const code = event.keyCode;
                if (code === 13) {
                    if (time === 0) {
                        time = 10; //设定间隔时间（秒）

                        //启动计时器，倒计时time秒后自动关闭计时器。
                        var index = setInterval(function () {
                            time--;
                            if (time === 0) {
                                clearInterval(index);
                            }
                        }, 1000);

                        //发送消息
                        sendMessage('' + $("#nickName").text() + ': ' + $chatInput.val());
                        $chatInput.val('');
                    } else {
                        insertMessage("<span style='color: red'>请勿刷频，等待" + time + "秒后再发送信息吧！</span>")
                    }
                }
            })
        }

        //追加终端信息
        function insertMessage(message, time) {
            const $terminalConsole = $('#terminal-console');
            if (time != null) {
                setTimeout(function () {
                    $consoleInput.before(getMessageTimestamp() + message + "<br>");
                }, time);
            } else {
                $consoleInput.before(getMessageTimestamp() + message + "<br>");
            }
            $terminalConsole.scrollTop($terminalConsole[0].scrollHeight);
        }

        //获取当前时间轴
        function getMessageTimestamp() {
            return "<span class='timeStampSHow'>"
                + "["
                + new Date().Format("HH:mm:ss")
                + "] "
                + "</span>";
        }
    </script>
</div>
</html>