<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="fragment/globalComponent::commonHead(~{::title},~{::link},~{::style})">
    <title>GoblinCwl - 管理</title>
    <link th:href="@{/css/manager.css}" rel="stylesheet"/>
    <style>
        div {
            overflow-x: hidden;
            overflow-y: auto;
        }

        html {
            position: relative;
            min-height: 100%;
        }
    </style>
    <style>
        .managerRightDiv {
            padding: 0;
            border: 5px solid;
        }

        .blackBorder {
            border: 1px solid #000;
        }

        #serverHardwareTable {
            border-collapse: unset;
        }

        #serverHardwareTable td {
            padding: 0.6em;
        }

        #serverHardwareTable span {
            font-size: 16px;
            font-weight: bold;
        }

        #serverHardwareTable .serverHardwareStrip {
            width: 100%;
        }

        #serverHardwareTable .serverHardwareStrip div {
            height: 1.3em;
            background-color: #6ecadc;
            width: 0;
        }

        span {
            font-family: SpacePixel, serif
        }

        #consoleDiv {
            font-size: 1px;
            font-family: Hack, sans-serif;
            color: black;
        }

        #consoleDiv p {
            word-break: break-all;
        }

        .blogTopTitle {
            width: 82%;
        }

        .blogTopTitle i {
            width: 0.7em;
        }

        .blogTopHeat {
            width: 18%;
        }

        .blogTopHeat, .tabTopHeat {
            font-size: 1px;
            text-align: right;
            color: gray;
        }

        #tabTopTable td {
            text-align: left;
        }

        #blogTopTable {
            border-collapse: unset;
            padding-left: 0.2em;
            padding-right: 0.2em;
            padding-bottom: 0.1em;
        }

        #blogTopTable td {
            border-bottom: 1px solid #000;
        }

        #blogTopTable td, #tabTopTable td {
            padding: 0.138em;
        }

        #blogTopTable span, #tabTopTable span {
            font-family: sans-serif;
        }

        .badge-search {
            cursor: pointer;
            margin-right: 0.25em;
            border: 1px solid white;
        }

        .badge-search:hover {
            border: 1px solid black;
            transform: scale(1.2);
        }

        #requestUlDiv li {
            padding: 0.13em;
        }

        #statisticalTable, #threadBox {
            width: 100%;
            height: 100%;
            border: 4px double seagreen;
            margin: auto;
            float: left;
        }
    </style>
</head>
<body>
<!-- 左侧侧边栏 -->
<div th:replace="fragment/manager/managerComponent::leftSiderBar"></div>

<!-- 页面内容 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <!-- 顶部导航 -->
        <div th:replace="fragment/globalComponent::topHeader"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div style="border: 1px solid #000;margin-top: 2em;height: 35em">
                        <div class="col-lg-9 managerRightDiv"
                             style="height: 15.92em;border-color: #7aa857">
                            <!--订阅访问统计图-->
                            <div id="statisticalTable"></div>
                        </div>
                        <div class="col-lg-3" style="padding: 0">
                            <div id="accessCountDiv" style="text-align: center;border-color:#58a1af;"
                                 class="managerRightDiv">
                                <div class="blackBorder">
                                    <div style="background-color: #2C7EEA;border-bottom: 1px solid #000">
                                        <span style="font-size: 6px;color: #fff;">总访问</span>
                                        <span id="accessAllCountSpan" style="font-size: 20px;color: #fff;">
                                            <!--总访问数量-->-
                                        </span>
                                    </div>
                                    <span style="font-size: 20px;color: #2C7EEA;font-weight: bold;">今</span>
                                    <span id="accessTodayCountSpan"
                                          style="font-size: 60px;color: #2C7EEA;font-weight: bold;">
                                        <!--今日访问量-->-
                                    </span>
                                </div>
                            </div>
                            <div id="subscriptionCountDiv" style="text-align: center;border-color: #af7f58"
                                 class="managerRightDiv">
                                <div class="blackBorder">
                                    <div style="background-color: #d06b05;border-bottom: 1px solid #000">
                                        <span style="font-size: 6px;color: #fff;">总订阅</span>
                                        <span style="font-size: 20px;color: #fff;">0</span>
                                    </div>
                                    <span style="font-size: 20px;color: #ea9e2c;font-weight: bold;">今</span>
                                    <span style="font-size: 60px;color: #ea9e2c;font-weight: bold;">0</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" style="padding: 0;">
                            <div class="managerRightDiv col-lg-12" style="text-align: center;border-color:#b0b0b0;">
                                <div class="blackBorder" style="height: 16.16em;">
                                    <span>Reserved area.</span>
                                </div>
                            </div>
                            <div class="managerRightDiv col-lg-12" style="text-align: center;border-color: #c765c7">
                                <div class="blackBorder">
                                    <span style="color: #c765c7">
                                        聊天室当前在线：『
                                        <span id="socketOnlineCountSpan"
                                              style="color: #00cb00;font-weight: bold">-</span>
                                        』人
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6" style="padding: 0">
                            <div class="managerRightDiv" style="border-color: #6ecadc">
                                <div class="blackBorder">
                                    <table id="blogTopTable" style="width: 100%">
                                        <tbody id="blogTopTbody">
                                        <!--热度文章列表-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="managerRightDiv col-lg-6" style="border-color: #446ab2">
                                <div class="blackBorder">
                                    <table id="tabTopTable" style="width: 100%">
                                        <tbody id="blogTabsTopTbody">
                                        <!--标签订阅top-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="managerRightDiv col-lg-6" style="border-color: #b2a944">
                                <div class="blackBorder" style="height: 8.65em;text-align: center">
                                    <span style="font-size: 1px;">TODO - 功能热度</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div style="border: 1px solid #000;margin-top: 2em;height: 35em">
                        <div class="col-lg-4" style="width: 45%;padding: 0">
                            <div id="serverTimeDiv" class="managerRightDiv"
                                 style="text-align:center;border-color:hsl(120, 30%, 58%)">
                                <div class="blackBorder">
                                    <span id="serverStartTimeSpan" style="font-size: 16px;color: grey">
                                        <!--服务器开始运行时间-->
                                        ////-//-// //://://
                                    </span>
                                    <br>
                                    <span id="serverTimeSpan" style="font-size: 32px;color: green;font-weight: bold">
                                        <!--服务器运行时间-->
                                        -时-分-秒
                                    </span>
                                </div>
                            </div>
                            <div id="gcDiv blackBorder" class="managerRightDiv"
                                 style="text-align:center;border-color:hsl(120, 30%, 58%);border-top: 0">
                                <div class="blackBorder">
                                    <span style="font-size: 16px;color: red">GC - </span>
                                    <span id="gcCountSpan" style="font-size: 16px;color: grey">
                                        <!--GC次数-->
                                    </span>
                                    <span id="gcTimeSpan"
                                          style="font-size: 16px;color: green;font-weight: bold">
                                        <!--GC时间-->
                                    </span>
                                </div>
                            </div>
                            <div id="threadDiv blackBorder" class="managerRightDiv"
                                 style="text-align:center;border-color:hsl(120, 30%, 58%);border-top: 0;height: 15.61em">
                                <div id="threadBox"></div>
                            </div>
                        </div>
                        <div id="serverHardwareDiv" class="col-lg-4" style="width: 55%;padding: 0">
                            <div class="managerRightDiv" style="text-align:center;border-color:hsl(213,27%,29%)">
                                <table class="blackBorder" id="serverHardwareTable">
                                    <tbody>
                                    <tr>
                                        <td><span id="diskUsageSpan" style="color: grey"
                                                  class="serverHardwareTitleSpan">磁盘</span></td>
                                        <td class="serverHardwareStrip">
                                            <div id="diskUsageDiv" style="background-color: grey"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span id="memoryUsageSpan" style="color: #17a117"
                                                  class="serverHardwareTitleSpan">内存</span>
                                        </td>
                                        <td class="serverHardwareStrip">
                                            <div id="memoryUsageDiv" style="background-color: #17a117"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span id="cpuUsageSpan" style="color: coral"
                                                  class="serverHardwareTitleSpan">CPU</span></td>
                                        <td class="serverHardwareStrip">
                                            <div id="cpuUsageDiv" style="background-color: coral"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="requestTitleDiv blackBorder" class="managerRightDiv"
                                 style="text-align:left;border-color:hsla(236,58%,58%,0.73);border-bottom: 0">
                                <div id="requestTitleUlDiv" class="blackBorder"
                                     style="padding: 0.14em;text-align: center;color:hsla(236,58%,58%,0.73) ">
                                    <span>- 最多请求接口 -</span>
                                </div>
                            </div>
                            <div id="requestDiv blackBorder" class="managerRightDiv"
                                 style="text-align:left;border-color:hsla(236,58%,58%,0.73);height: 11.71em">
                                <div id="requestUlDiv" class="blackBorder">
                                    <ul id="requestUl" style="font-size: 13px;;list-style: none;height: 13.5em">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="consoleParentDiv" class="managerRightDiv"
                             style="width: 100%;height: 12.37em;border-color: grey">
                            <div id="consoleDiv" class="blackBorder"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<div th:replace="fragment/globalComponent::commonFoot(~{::script})">
    <script th:src="@{/webjars/echarts/5.3.3/dist/echarts.js}"></script>
    <script>
        $(function () {
            $("#managerHomeLi").addClass("active")

            //日志输出
            const webSocket = new WebSocket(projectHomeWebSocketUrl + "/log");
            //处理服务器返回的信息
            webSocket.onmessage = function (event) {
                let $consoleParentDiv = $("#consoleParentDiv");
                $("#consoleDiv").append(formatConsoleLog(event.data));
                $consoleParentDiv.scrollTop($consoleParentDiv.prop("scrollHeight"));
            };

            //右侧面板初始化
            managerRightInit();
            //每分钟刷新一次
            setInterval(managerRightInit, 60000)
            //左侧面板初始化
            managerLeftInit();
        })

        //格式化控制台信息，上色
        function formatConsoleLog(logContent) {
            let color = "#000";
            if (logContent.indexOf("DEBUG") !== -1) {
                color = "#54cb39";
            } else if (logContent.indexOf("ERROE") !== -1 || logContent.indexOf("Exception") !== -1 || /at [a-z]{1,6}/g.test(logContent)) {
                color = "#c73c3c";
            } else if (logContent.indexOf("INFO") !== -1) {
                color = "#000";
            }
            return "<p style='color: " + color + "'>" + logContent + "</p>";
        }

        //面板左侧初始化
        function managerLeftInit() {
            ajaxHttp({
                type: 'GET',
                url: ctx + "/manager/managerLeft",
                success: function (res) {
                    const data = res.data;
                    //访问数
                    $("#accessAllCountSpan").text(data.accessCount.all);
                    $("#accessTodayCountSpan").text(data.accessCount.today);

                    //TODO 订阅数

                    //图表
                    echarts.init(document.getElementById('statisticalTable')).setOption({
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            data: ['访问', '订阅']
                        },
                        grid: {
                            top: '12%',
                            left: '4%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: data.dateArray
                        },
                        yAxis: {
                            type: 'value',
                        },
                        series: [
                            {
                                name: '访问',
                                type: 'line',
                                stack: 'Access',
                                emphasis: {
                                    focus: 'series'
                                },
                                color: '#2C7EEA',
                                data: data.accessDataArray
                            },
                            {
                                name: '订阅',
                                type: 'line',
                                stack: 'Subscribe',
                                emphasis: {
                                    focus: 'series'
                                },
                                color: '#D06B05',
                                data: data.subscribeDataArray
                            }
                        ]
                    });

                    //文章热度top
                    let hotBlogHtml = "";
                    let hotBlogList = data.hotBlogList;
                    for (const blog of hotBlogList) {
                        hotBlogHtml += '<tr>' +
                            '           <td class="blogTopTitle">' +
                            '               <a style="color:#c16edc;" target="_blank" href="' + ctx + '/blog/content/' + blog.id + '">' +
                            '                   <i class="glyphicon glyphicon-link"></i>' +
                            '                   <span title="' + blog.title + '">' + reLengthStr(blog.title, 15) + '</span>' +
                            '               </a>' +
                            '           </td>' +
                            '           <td class="blogTopHeat">' +
                            '               <p>访问:' + blog.browserTimes + '</p>' +
                            '           </td>' +
                            '       </tr>'
                    }
                    $("#blogTopTbody").html(hotBlogHtml);

                    //标签订阅top
                    let hotBlogTabsHtml = "";
                    let hotBlogTabsList = data.hotBlogTabsList;
                    for (const blogTabs of hotBlogTabsList) {
                        hotBlogTabsHtml += '<tr>' +
                            '                   <td><a class="badge badge-search no-border-radio"' +
                            '                            target="_blank" href="' + ctx + '/blog?query=%23' + blogTabs.name + '"' +
                            '                             style=" background-color: ' + blogTabs.color + '">' + blogTabs.name + '</a></td>' +
                            '                   <td class="tabTopHeat"><p>订阅:' + blogTabs.subscribeCount + '</p></td>' +
                            '               </tr>';
                    }
                    $("#blogTabsTopTbody").html(hotBlogTabsHtml);
                }
            })
        }

        //面板右侧初始化
        let serverTimeInterval;

        function managerRightInit() {
            //硬件信息数据
            ajaxHttp({
                type: 'GET',
                url: ctx + "/manager/managerRight",
                success: function (res) {
                    const data = res.data;
                    //服务器运行时间
                    $("#serverStartTimeSpan").text(new Date(new Date().getTime() - data.serverUptime * 1000).Format("yyyy-MM-dd HH:mm:ss"))
                    let nowTime = new Date(data.serverUptime * 1000).getTime();
                    $("#serverTimeSpan").text(convertMilliSecondToTimeStr(nowTime))
                    //每秒刷新+1
                    clearInterval(serverTimeInterval);
                    serverTimeInterval = setInterval(function () {
                        nowTime += 1000;
                        $("#serverTimeSpan").text(convertMilliSecondToTimeStr(nowTime))
                    }, 1000);
                    //gc数据
                    $("#gcCountSpan").text(data.gcTime.count + "次");
                    $("#gcTimeSpan").text((data.gcTime.time).toFixed(3) + "s");
                    //线程数据
                    //峰值线程
                    echarts.init(document.getElementById('threadBox')).setOption({
                        tooltip: {
                            trigger: 'axis'
                        },
                        xAxis: {
                            type: 'category',
                            data: ['当前守护', '当前活跃', '峰值']
                        },
                        yAxis: {
                            type: 'value',
                            splitLine: {
                                show: false
                            }
                        },
                        grid: {
                            top: '5%',
                            left: '3%',
                            right: '4%',
                            bottom: '0%',
                            containLabel: true
                        },
                        series: [
                            {
                                data: [
                                    {
                                        value: 30,
                                        itemStyle: {
                                            color: '#5E99E5'
                                        }
                                    },
                                    {
                                        value: 70,
                                        itemStyle: {
                                            color: '#65DA65'
                                        }
                                    },
                                    {
                                        value: 90,
                                        itemStyle: {
                                            color: '#E85151'
                                        }
                                    },
                                ],
                                type: 'bar'
                            }
                        ]
                    })

                    //硬件信息
                    let $diskUsageDiv = $("#diskUsageDiv");
                    $diskUsageDiv.css("width", (1 - data.diskSpace.details.free / data.diskSpace.details.total) * 100 + "%")
                    let diskTitle = "磁盘使用情况：" + ((data.diskSpace.details.total - data.diskSpace.details.free) / 1024 / 1024 / 1024).toFixed(2) + "G/" + (data.diskSpace.details.total / 1024 / 1024 / 1024).toFixed(2) + "G";
                    $diskUsageDiv.attr("title", diskTitle);
                    $("#diskUsageSpan").attr("title", diskTitle);
                    let $memoryUsageDiv = $("#memoryUsageDiv");
                    $memoryUsageDiv.css("width", (data.jvmMemory.used / (data.jvmMemory.committed + data.jvmMemory.used)) * 100 + "%");
                    let memoryTitle = "内存使用情况：" + (data.jvmMemory.used / 1024 / 1024).toFixed(2) + "M/" + ((data.jvmMemory.committed + data.jvmMemory.used) / 1024 / 1024).toFixed(2) + "M";
                    $memoryUsageDiv.attr("title", memoryTitle);
                    $("#memoryUsageSpan").attr("title", memoryTitle);
                    let $cpuUsageDiv = $("#cpuUsageDiv");
                    $cpuUsageDiv.css("width", data.cpuUsage + "%");
                    $cpuUsageDiv.attr("title", "CPU使用情况：" + (data.cpuUsage).toFixed(2) + "%/100%");
                    $("#cpuUsageSpan").attr("title", "CPU使用情况：" + (data.cpuUsage).toFixed(2) + "%/100%");
                    //请求最多的8个接口
                    let requestHtml = "";
                    let topCountLength = null;
                    for (let i = 0; i < data.uriList.length; i++) {
                        //只展示8个
                        if (i > 7) {
                            break;
                        }
                        const requestUri = data.uriList[i];
                        if (topCountLength == null) {
                            topCountLength = requestUri.RequestCount.toString().length;
                        }
                        requestHtml += "<li>" +
                            "               <span style='color: hsla(236,58%,58%,0.73)'>" + PrefixInteger(requestUri.RequestCount, topCountLength) + "次：</span>" +
                            "               <a target='_blank' href=" + projectHomeHttpUrl + "/druid/weburi-detail.html?uri=" + requestUri.URI + ">" +
                            "                   <span>" + requestUri.URI + "</span>" +
                            "               </a>" +
                            "           </li>"
                    }
                    $("#requestUl").html(requestHtml)
                    //聊天室在线
                    $("#socketOnlineCountSpan").text(data.socketOnlineCount)
                }
            })
        }
    </script>
</div>
</html>