<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="fragment/globalComponent::commonHead(~{::title},~{::link},~{::style})">
    <title>GoblinCwl - 管理</title>
    <link th:href="@{/css/manager.css}" rel="stylesheet"/>
    <style>
        div {
            overflow-x: hidden;
            overflow-y: auto;
        }

        html {
            position: relative;
            min-height: 100%;
        }
    </style>
    <style>
        .managerRightDiv {
            padding: 0;
            border: 5px solid;
        }

        .blackBorder {
            border: 1px solid #000;
        }

        #serverHardwareTable {
            border-collapse: unset;
        }

        #serverHardwareTable td {
            padding: 0.6em;
        }

        #serverHardwareTable span {
            font-size: 16px;
            font-weight: bold;
        }

        #serverHardwareTable .serverHardwareStrip {
            width: 100%;
        }

        #serverHardwareTable .serverHardwareStrip div {
            width: 100%;
            height: 1.3em;
            background-color: #6ecadc;
        }


        #threadUlDiv {
            height: 15em;
            position: relative;
            border-bottom: 0;
        }

        #threadUlDiv ul li {
            float: left;
            position: absolute;
            bottom: 0;
            text-align: center;
            font-weight: bold;
            color: black;
            height: 100%;
            width: 86px;
            list-style: none;
            border: 2px solid #696464;
            border-bottom: 0;
            font-size: 12px;
            font-family: SpacePixel, sans-serif;
        }

        #threadUlDiv ul li.c1 {
            left: 0;
            height: 9%;
            background-color: #e85151;
        }

        #threadUlDiv ul li.c2 {
            left: 80px;
            height: 60%;
            background-color: #65da65;
        }

        #threadUlDiv ul li.c3 {
            left: 160px;
            height: 99%;
            background-color: #5e99e5;
        }

        span {
            font-family: SpacePixel, serif
        }

        #consoleDiv {
            font-size: 1px;
            font-family: Hack, sans-serif;
            color: black;
        }

        #consoleDiv p {
            word-break: break-all;
        }

        .blogTopHeat, .tabTopHeat {
            font-size: 1px;
            text-align: center;
            color: gray;
        }

        #tabTopTable td {
            text-align: center;
        }

        #blogTopTable td, #tabTopTable td {
            padding: 0.145em;
        }

        #blogTopTable span, #tabTopTable span {
            font-family: sans-serif;
        }

        .badge-search {
            cursor: pointer;
            margin-right: 0.25em;
            border: 1px solid white;
        }

        .badge-search:hover {
            border: 1px solid black;
            transform: scale(1.2);
        }

        .serverHardwareTitleSpan{
        }
    </style>
</head>
<body>
<!-- 左侧侧边栏 -->
<div th:replace="fragment/manager/managerComponent::leftSiderBar"></div>

<!-- 页面内容 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <!-- 顶部导航 -->
        <div th:replace="fragment/globalComponent::topHeader"></div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div style="border: 1px solid #000;margin-top: 2em;height: 35em">
                        <div class="col-lg-9 managerRightDiv"
                             style="height: 15.92em;padding: 1em;border-color: #7aa857">
                            <div class="blackBorder" style="height: 100%">
                                <span>TODO - 访问/订阅 线统计图</span>
                            </div>
                        </div>
                        <div class="col-lg-3" style="padding: 0">
                            <div id="accessCountDiv" style="text-align: center;border-color:#58a1af;"
                                 class="managerRightDiv">
                                <div class="blackBorder">
                                    <div style="background-color: #2C7EEA;border-bottom: 1px solid #000">
                                        <span style="font-size: 6px;color: #fff;">总访问</span>
                                        <span style="font-size: 20px;color: #fff;">420</span>
                                    </div>
                                    <span style="font-size: 20px;color: #2C7EEA;font-weight: bold;">今</span>
                                    <span style="font-size: 60px;color: #2C7EEA;font-weight: bold;">32</span>
                                </div>
                            </div>
                            <div id="subscriptionCountDiv" style="text-align: center;border-color: #af7f58"
                                 class="managerRightDiv">
                                <div class="blackBorder">
                                    <div style="background-color: #d06b05;border-bottom: 1px solid #000">
                                        <span style="font-size: 6px;color: #fff;">总订阅</span>
                                        <span style="font-size: 20px;color: #fff;">0</span>
                                    </div>
                                    <span style="font-size: 20px;color: #ea9e2c;font-weight: bold;">今</span>
                                    <span style="font-size: 60px;color: #ea9e2c;font-weight: bold;">0</span>
                                </div>
                            </div>
                        </div>
                        <div class="managerRightDiv col-lg-6" style="height: 18.95em">
                            <span>(A place of purity..)</span>
                        </div>
                        <div class="col-lg-6" style="padding: 0">
                            <div class="managerRightDiv" style="border-color: #6ecadc">
                                <div class="blackBorder">
                                    <table id="blogTopTable" style="width: 100%">
                                        <thead >
                                        <tr>
                                            <td style="width: 78%"></td>
                                            <td style="width: 22%"></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><a href="#">&nbsp;1.我是一个文章的标题</a></td>
                                            <td class="blogTopHeat"><p>访问: 123</p></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">&nbsp;2.我是一个文章的标题</a></td>
                                            <td class="blogTopHeat"><p>访问: 123</p></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">&nbsp;3.我是一个文章的标题</a></td>
                                            <td class="blogTopHeat"><p>访问: 123</p></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">&nbsp;4.我是一个文章的标题</a></td>
                                            <td class="blogTopHeat"><p>访问: 123</p></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">&nbsp;5.我是一个文章的标题131231313</a></td>
                                            <td class="blogTopHeat">访问: 123</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="managerRightDiv col-lg-6" style="border-color: #446ab2">
                                <div class="blackBorder">
                                    <table id="tabTopTable" style="width: 100%">
                                        <tbody>
                                        <tr>
                                            <td><span class="badge badge-search no-border-radio"
                                                      onclick="tabSearchAppend('测试文章')"
                                                      style=" background-color: #4a2eff">测试文章</span></td>
                                            <td class="tabTopHeat"><p>访问: 123</p></td>
                                        </tr>
                                        <tr>
                                            <td><span class="badge badge-search no-border-radio"
                                                      onclick="tabSearchAppend('测试文章')"
                                                      style=" background-color: #18543f">测试文章</span></td>
                                            <td class="tabTopHeat"><p>访问: 123</p></td>
                                        </tr>
                                        <tr>
                                            <td><span class="badge badge-search no-border-radio"
                                                      onclick="tabSearchAppend('测试文章')"
                                                      style=" background-color: #ea2eff">测试文章</span></td>
                                            <td class="tabTopHeat"><p>访问: 123</p></td>
                                        </tr>
                                        <tr>
                                            <td><span class="badge badge-search no-border-radio"
                                                      onclick="tabSearchAppend('测试文章')"
                                                      style=" background-color: #ea2eff">测试文章</span></td>
                                            <td class="tabTopHeat"><p>访问: 123</p></td>
                                        </tr>
                                        <tr>
                                            <td><span class="badge badge-search no-border-radio"
                                                      onclick="tabSearchAppend('测试文章')"
                                                      style=" background-color: #ea2eff">测试文章</span></td>
                                            <td class="tabTopHeat"><p>访问: 123</p></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="managerRightDiv col-lg-6" style="border-color: #b24482">
                                <div class="blackBorder" style="height: 8.7em">
                                    <span>TODO - 功能热度</span>
                                    <table id="functionTopTable" style="width: 100%">
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div style="border: 1px solid #000;margin-top: 2em;height: 35em">
                        <div class="col-lg-4" style="width: 45%;padding: 0">
                            <div id="serverTimeDiv" class="managerRightDiv"
                                 style="text-align:center;border-color:hsl(120, 30%, 58%)">
                                <div class="blackBorder">
                                    <span style="font-size: 16px;color: grey">2022-11-28 9:26:12</span>
                                    <br>
                                    <span style="font-size: 35px;color: green;font-weight: bold">1天2时39分</span>
                                </div>
                            </div>
                            <div id="gcDiv blackBorder" class="managerRightDiv"
                                 style="text-align:center;border-color:hsl(120, 30%, 58%);border-top: 0">
                                <div class="blackBorder">
                                    <span style="font-size: 16px;color: red">GC - </span>
                                    <span style="font-size: 16px;color: grey">5次</span>
                                    <span style="font-size: 16px;color: green;font-weight: bold">0.239s</span>
                                </div>
                            </div>
                            <div id="threadDiv blackBorder" class="managerRightDiv"
                                 style="text-align:center;border-color:hsl(120, 30%, 58%);border-top: 0">
                                <div id="threadUlDiv" class="blackBorder">
                                    <ul>
                                        <li title="JVM当前守护线程：10" class="c1">GRD/10</li>
                                        <li title="JVM当前活跃线程：60" class="c2">ACT/60</li>
                                        <li title="JVM峰值线程：99" class="c3">PEK/99</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="serverHardwareDiv" class="col-lg-4" style="width: 55%;padding: 0">
                            <div class="managerRightDiv" style="text-align:center;border-color:hsl(213,27%,29%)">
                                <table class="blackBorder" id="serverHardwareTable">
                                    <tbody>
                                    <tr>
                                        <td><span style="color: grey" class="serverHardwareTitleSpan">磁盘</span></td>
                                        <td class="serverHardwareStrip">
                                            <div title="磁盘使用情况：124.3G/758G" style="background-color: grey"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="color: #17a117" class="serverHardwareTitleSpan">内存</span></td>
                                        <td class="serverHardwareStrip">
                                            <div title="内存使用情况：1256M/2048M" style="background-color: #17a117"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span style="color: coral" class="serverHardwareTitleSpan">CPU</span></td>
                                        <td class="serverHardwareStrip">
                                            <div title="CPU使用情况：34.2%" style="background-color: coral"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="requestTitleDiv blackBorder" class="managerRightDiv"
                                 style="text-align:left;border-color:hsla(236,58%,58%,0.73);border-bottom: 0">
                                <div id="requestTitleUlDiv" class="blackBorder"
                                     style="padding: 0.2em;text-align: center;color:hsla(236,58%,58%,0.73) ">
                                    <span>- 最多请求接口 -</span>
                                </div>
                            </div>
                            <div id="requestDiv blackBorder" class="managerRightDiv"
                                 style="text-align:left;border-color:hsla(236,58%,58%,0.73)">
                                <div id="requestUlDiv" class="blackBorder">
                                    <ul style="font-size: 13px;padding: 0.23em">
                                        <li><a href="#">/blog/recentUpdateList</a></li>
                                        <li><a href="#">/blog/recentUpdateList/asdfasdfas/sadfasdf/asf</a></li>
                                        <li><a href="#">/blog/recentUpdateList</a></li>
                                        <li><a href="#">/blog/recentUpdateList</a></li>
                                        <li><a href="#">/blog/recentUpdateList</a></li>
                                        <li><a href="#">/blog/recentUpdateList</a></li>
                                        <li><a href="#">/blog/recentUpdateList</a></li>
                                        <li><a href="#">/blog/recentUpdateList</a></li>
                                        <li><a href="#">/blog/recentUpdateList</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="consoleParentDiv" class="managerRightDiv"
                             style="width: 100%;height: 12.4em;border-color: grey">
                            <div id="consoleDiv" class="blackBorder"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<div th:replace="fragment/globalComponent::commonFoot(~{::script})">
    <script>
        $(function () {
            $("#managerHomeLi").addClass("active")

            //日志输出
            const webSocket = new WebSocket("ws://localhost:8500/log");
            //处理服务器返回的信息
            webSocket.onmessage = function (event) {
                let $consoleParentDiv = $("#consoleParentDiv");
                $("#consoleDiv").append(formatConsoleLog(event.data));
                $consoleParentDiv.scrollTop($consoleParentDiv.prop("scrollHeight"));
            };
        })

        //格式化控制台信息，上色
        function formatConsoleLog(logContent) {
            let color = "#000";
            if (logContent.indexOf("DEBUG") !== -1) {
                color = "#54cb39";
            } else if (logContent.indexOf("ERROE") !== -1 || logContent.indexOf("Exception") !== -1 || /at [a-z]{1,6}/g.test(logContent)) {
                color = "#c73c3c";
            } else if (logContent.indexOf("INFO") !== -1) {
                color = "#000";
            }
            return "<p style='color: " + color + "'>" + logContent + "</p>";
        }
    </script>
</div>
</html>