<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="fragment/globalComponent::commonHead(~{::title},~{},~{})">
    <title>GoblinCwl - 简历</title>
</head>
<body>
<!-- 左侧侧边栏 -->
<div class="col-sm-3 col-md-2 sidebar">
    <div class="sidebar_top">
        <h1>Cwl</h1>
        <img th:src="@{/images/profile.jpg}" alt=""/>
    </div>
    <div class="details">
        <h3>
            联系方式
        </h3>
        <p>+86 18673734477</p>
        <h3>
            电子邮箱
        </h3>
        <p><a href="#">goblincwl@qq.com</a></p>
        <address>
            <h3>
                现居地址
            </h3>
            <span>xxxxxxx,</span>
            <span>xxxxxxx,</span>
            <span>xxxxxxx.</span>
        </address>

    </div>
    <div class="clearfix"></div>
</div>

<!-- 页面内容 -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="content">
        <!-- 顶部导航 -->
        <div th:replace="fragment/globalComponent::topHeader"></div>
        <div class="company">
            <h3 class="clr1">工作经历</h3>
            <div class="company_details">
                <h4>公司名称 <span>2009.06 - 今</span></h4>
                <h6>网页设计师</h6>
                <p class="cmpny1">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius,
                    molestie lorem. Duis quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
            <div class="company_details">
                <h4>Company Name <span>NOVEMBER 2007 - MAY 2009</span></h4>
                <h6>WEB DESIGNER</h6>
                <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis
                    quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
        </div>
        <div class="skills">
            <h3 class="clr2">专业技能</h3>
            <div class="skill_info">
                <p>Duis egestas tortor metus, vitae venenatis tortor tristique at. Pellentesque dignissim purus vitae
                    enim blandit, sed tristique enim malesuada. Maecenas dolor erat,
                    volutpat a tellus eu, euismod iaculis urna. Nulla dui purus, viverra viverra dolor non, malesuada
                    dictum purus.</p>
            </div>
            <div class="skill_list">
                <div class="skill1">
                    <h4>软件</h4>
                    <ul>
                        <li>Photoshop</li>
                        <li>Flash</li>
                        <li>Dreemweeaver</li>
                        <li>In Design</li>
                    </ul>
                </div>
                <div class="skill2">
                    <h4>语言</h4>
                    <ul>
                        <li>HTML/CSS</li>
                        <li>ActionScript</li>
                        <li>PHP</li>
                        <li>Ruby on Rais</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="education">
            <h3 class="clr3">教育经历</h3>
            <div class="education_details">
                <h4>University of Awesome<span>JANUARY 2004 - OCTOBER 2009</span></h4>
                <h6>MAJOR PHD</h6>
                <p class="cmpny1">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius,
                    molestie lorem. Duis quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
            <div class="education_details">
                <h4>University of Techonology, Newyork <span>APRIL 2001 - SEPTEMBER 2003</span></h4>
                <h6>BACHELORS OF ARTS</h6>
                <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis
                    quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
        </div>
        <div class="education">
            <h3 class="clr3">教育经历</h3>
            <div class="education_details">
                <h4>University of Awesome<span>JANUARY 2004 - OCTOBER 2009</span></h4>
                <h6>MAJOR PHD</h6>
                <p class="cmpny1">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius,
                    molestie lorem. Duis quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
            <div class="education_details">
                <h4>University of Techonology, Newyork <span>APRIL 2001 - SEPTEMBER 2003</span></h4>
                <h6>BACHELORS OF ARTS</h6>
                <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis
                    quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
        </div>
        <div class="education">
            <h3 class="clr3">教育经历</h3>
            <div class="education_details">
                <h4>University of Awesome<span>JANUARY 2004 - OCTOBER 2009</span></h4>
                <h6>MAJOR PHD</h6>
                <p class="cmpny1">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius,
                    molestie lorem. Duis quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
            <div class="education_details">
                <h4>University of Techonology, Newyork <span>APRIL 2001 - SEPTEMBER 2003</span></h4>
                <h6>BACHELORS OF ARTS</h6>
                <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis
                    quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
        </div>
        <div class="education">
            <h3 class="clr3">教育经历</h3>
            <div class="education_details">
                <h4>University of Awesome<span>JANUARY 2004 - OCTOBER 2009</span></h4>
                <h6>MAJOR PHD</h6>
                <p class="cmpny1">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius,
                    molestie lorem. Duis quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
            <div class="education_details">
                <h4>University of Techonology, Newyork <span>APRIL 2001 - SEPTEMBER 2003</span></h4>
                <h6>BACHELORS OF ARTS</h6>
                <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis
                    quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
        </div>
        <div class="education">
            <h3 class="clr3">教育经历</h3>
            <div class="education_details">
                <h4>University of Awesome<span>JANUARY 2004 - OCTOBER 2009</span></h4>
                <h6>MAJOR PHD</h6>
                <p class="cmpny1">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius,
                    molestie lorem. Duis quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
            <div class="education_details">
                <h4>University of Techonology, Newyork <span>APRIL 2001 - SEPTEMBER 2003</span></h4>
                <h6>BACHELORS OF ARTS</h6>
                <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis
                    quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
        </div>
        <div class="education">
            <h3 class="clr3">教育经历</h3>
            <div class="education_details">
                <h4>University of Awesome<span>JANUARY 2004 - OCTOBER 2009</span></h4>
                <h6>MAJOR PHD</h6>
                <p class="cmpny1">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius,
                    molestie lorem. Duis quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
            <div class="education_details">
                <h4>University of Techonology, Newyork <span>APRIL 2001 - SEPTEMBER 2003</span></h4>
                <h6>BACHELORS OF ARTS</h6>
                <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis
                    quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
        </div>
        <div class="education">
            <h3 class="clr3">教育经历</h3>
            <div class="education_details">
                <h4>University of Awesome<span>JANUARY 2004 - OCTOBER 2009</span></h4>
                <h6>MAJOR PHD</h6>
                <p class="cmpny1">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius,
                    molestie lorem. Duis quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
            <div class="education_details">
                <h4>University of Techonology, Newyork <span>APRIL 2001 - SEPTEMBER 2003</span></h4>
                <h6>BACHELORS OF ARTS</h6>
                <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis
                    quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
        </div>
        <div class="education">
            <h3 class="clr3">教育经历</h3>
            <div class="education_details">
                <h4>University of Awesome<span>JANUARY 2004 - OCTOBER 2009</span></h4>
                <h6>MAJOR PHD</h6>
                <p class="cmpny1">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius,
                    molestie lorem. Duis quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
            <div class="education_details">
                <h4>University of Techonology, Newyork <span>APRIL 2001 - SEPTEMBER 2003</span></h4>
                <h6>BACHELORS OF ARTS</h6>
                <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis
                    quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
        </div>
        <div class="education">
            <h3 class="clr3">教育经历</h3>
            <div class="education_details">
                <h4>University of Awesome<span>JANUARY 2004 - OCTOBER 2009</span></h4>
                <h6>MAJOR PHD</h6>
                <p class="cmpny1">Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius,
                    molestie lorem. Duis quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
            <div class="education_details">
                <h4>University of Techonology, Newyork <span>APRIL 2001 - SEPTEMBER 2003</span></h4>
                <h6>BACHELORS OF ARTS</h6>
                <p>Nulla volutpat at est sed ultricies. In ac sem consequat, posuere nulla varius, molestie lorem. Duis
                    quis nibh leo.
                    Curabitur a quam eu mi convallis auctor nec id mauris. Nullam mattis turpis eu turpis tincidunt, et
                    pellentesque leo imperdiet.
                    Vivamus malesuada, sem laoreet dictum pulvinar, orci lectus rhoncus sapien, ut consectetur augue
                    nibh in neque. In tincidunt sed enim et tincidunt.</p>
            </div>
        </div>
    </div>
</div>
</body>
<div th:replace="fragment/globalComponent::commonFoot(~{})">
</div>
</html>